
<div class="row" ng-controller="TasksCtrl">
<div class="col-md-12">
<div class="row">
  <div class="col-md-10">
  <h2>Your Tasks</h2>
      <div class="list-group" ng-repeat='task in tasks'>
           <a class="list-group-item row">
              <div class="col-md-9">
                  <h4 class="list-group-item-heading">{{task.name}}</h4>
                  <p class="list-group-item-text">{{task.description}}</p>
              </div>
          <div class="btn-group col-md-3 pull-right" role="group" aria-label="...">
              <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
              <button type="button" class="btn btn-danger" ng-click="deleteTask(task._id)"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
      </a>

     
    </div>
    </div>     
  </div>  

 <div class="row buttonRow">
    <a class="addTask" href="/#/addTask"><button type="button" class="btn btn-success">Add Task <span class="glyphicon glyphicon-plus"></span></button></a>
  </div>

</div>
</div>


